.container {
  display: flex;
  flex-direction: row;
  height: 200px;
}

.center-col {
  flex: 1;
  overflow-y: scroll;
}

.bla {
  font-size: 18px;
}

.accordion {
  margin-top: 10px;
  margin-left: 10px;
  width: 90%;
}

li {
  text-align: left;
}
