.GroupsContainer {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  max-height: 50vh;
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
  width: 100%;
}

.CenterColumn {
  flex: 1;
  overflow-y: scroll;
}

.CreateGroupForm {
  margin-left: 100px;
  margin-right: 100px
}

.bla {
  font-size: 18px;
}

.accordion {
  margin-top: 10px;
  margin-left: 10px;
  width: 90%;
}

li {
  text-align: left;
}
