.container {
  display: flex;
  flex-direction: row;
  height: 200px;
}

.center-col {
  flex: 1;
  overflow-y: scroll;
}

.lock-icon {
  margin-top: 10px;
}

li {
  text-align: left;
}
