.App {
  text-align: center;
  background-color: rgb(206, 213, 223);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.Container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Cloud-Icon {
  height: 100px;
  width: 200px;
}

.SignOutButton {
  margin-top: 20px;
}

.ButtonTabs {
  margin-bottom: 20px;
}

.Card {
  background-color: white;
  padding: 32px;
  width: 60%;
  min-height: 60vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}

.LineBreak {
    color: #673AB7;
    background: #673AB7;
    height: 2px;
    width: 630px;
}

.Actions {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 32px;
}

hr {
  color: #fff;
}

button:disabled {
  background: rgb(189, 189, 189);
  cursor: default;
}
